
email-crawler/.idea/email-crawler.iml
email-crawler/.idea/inspectionProfiles/profiles_settings.xml
email-crawler/.idea/inspectionProfiles/Project_Default.xml
email-crawler/.idea/misc.xml
email-crawler/.idea/modules.xml
email-crawler/.idea/vcs.xml
